name: ci

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java:
          - '11'
          - '17'
          - '21'
          - '25'
    name: Build and Test with Java ${{ matrix.java }}
    steps:
    - uses: actions/checkout@v3
    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install -y libssl-dev
    - uses: actions/setup-java@v3
      with:
        java-version: '${{ matrix.java }}'
        architecture: 'x64'
        distribution: 'temurin'
    - name: Check formatting
      run:
        ./mill --no-server mill.scalalib.scalafmt.ScalafmtModule/checkFormatAll __.sources
        # ./mill mill.scalalib.scalafmt.ScalafmtModule/checkFormatAll --sources buildSources
    # - name: Check scalafix
    #   run:
    #     ./mill --no-server __.fix --check
    - name: Compile
      run:
        ./mill --no-server __.compile
    - name: Test
      run:
        ./mill --no-server __.test
    - name: Test publishArtifacts
      run:
        ./mill --no-server show __.publishArtifacts
  publish-sonatype:
    if: github.repository == 'lolgab/scala-native-crypto' && contains(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-24.04
    env:
      SONATYPE_PGP_PRIVATE_KEY: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY }}
      SONATYPE_PGP_PRIVATE_KEY_PASSWORD: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY_PASSWORD }}
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y libssl-dev
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          architecture: 'x64'
          distribution: 'temurin'
      - name: Publish to Maven Central
        run: |
          if [[ $(git tag --points-at HEAD) != '' ]]; then
            echo $SONATYPE_PGP_PRIVATE_KEY | base64 --decode > gpg_key
            gpg --import --no-tty --batch --yes gpg_key
            rm gpg_key
            ./mill mill.scalalib.SonatypeCentralPublishModule/publishAll \
              --username "$SONATYPE_USER" \
              --password "$SONATYPE_PASSWORD" \
              --gpgArgs "--passphrase=$SONATYPE_PGP_PRIVATE_KEY_PASSWORD,--no-tty,--pinentry-mode,loopback,--batch,--yes,-a,-b" \
              --publishArtifacts __.publishArtifacts \
              --readTimeout  36000 \
              --awaitTimeout 36000 \
              --connectTimeout 36000 \
              --shouldRelease true
          fi
